{{#operations}}
{{#operation}}
- path: {{path}}
  method: {{httpMethod}}
  xCodeSample:
    - lang: TypeScript
      label: SDK_tools/sdk/typescript/{{#lambda.lowercase}}{{packageName}}{{/lambda.lowercase}}/methods/{{#lambda.kebabcase}}{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}{{/lambda.kebabcase}}#{{#lambda.kebabcase}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}{{/lambda.kebabcase}}
      source: |
        import { {{classname}} } from 'sailpoint-api-client';
        import { Configuration } from 'sailpoint-api-client';
        import { createConfiguration } from 'sailpoint-api-client';

        const configuration = createConfiguration();
        const apiInstance = new {{classname}}(configuration);
        {{#allParams}}
        {{^isBodyParam}}const {{paramName}}: {{#isString}}string{{/isString}}{{^isString}}{{dataType}}{{/isString}} = {{#isString}}'{{/isString}}{{{example}}}{{#isString}}'{{/isString}}; // {{{dataType}}} | {{{description}}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}{{/isBodyParam}}{{#isBodyParam}}const {{paramName}}: {{dataType}} = {{#requestBodyExamples}}{{{example}}}{{/requestBodyExamples}}{{^requestBodyExamples}}{}{{/requestBodyExamples}}; // {{{dataType}}} | {{{description}}}{{^required}} (optional){{/required}}{{/isBodyParam}}
        {{/allParams}}
        const result = await apiInstance.{{nickname}}({{#requiredParams}}{{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}});
        console.log(result);
  {{/operation}}
{{/operations}}
