name: "Update Typescript SDK Version"

run-name: Update TS SDK Version to ${{ github.event.inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: The version to bump to

jobs:
  update_typescript_version:
    name: Update Typescript Version
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          token: ${{ secrets.DEVREL_SERVICE_TOKEN }}

      - name: Checkout API Specs Repo
        uses: actions/checkout@v6
        with:
          repository: sailpoint-oss/api-specs
          path: api-specs
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      # Install yq for working with yaml files
      - name: Set up yq
        uses: frenck/action-setup-yq@v2

      # Check input version is greater than the current tag
      - name: Check valid version
        run: |
          function ver { printf "%03d%03d%03d%03d" $(echo "$1" | tr '.' ' '); }

          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo $LATEST_TAG
          if [ $(ver $LATEST_TAG) -lt $(ver ${{ github.event.inputs.version}}) ]
          then
            echo "Input version ${{ github.event.inputs.version }} valid"
          else
            echo "Current tagged version $LATEST_TAG is greater than input version ${{ github.event.inputs.version }}"
            exit 1
          fi

      ## Update configuration files to new version
      - name: Update config files with new version
        id: updateVersion
        run: |
          yq -i '.npmVersion = "${{ github.event.inputs.version }}"' sdk-resources/beta-config.yaml
          yq -i '.npmVersion = "${{ github.event.inputs.version }}"' sdk-resources/v3-config.yaml
          yq -i '.npmVersion = "${{ github.event.inputs.version }}"' sdk-resources/v2024-config.yaml
          yq -i '.npmVersion = "${{ github.event.inputs.version }}"' sdk-resources/v2025-config.yaml
          yq -i '.npmVersion = "${{ github.event.inputs.version }}"' sdk-resources/v2026-config.yaml

      ## Update package.json file with new version
      - name: Update package.json version
        id: updatePackageJsonVersion
        if: steps.updateVersion.outcome == 'success'
        run: |
          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          cd sdk-output
          jq '.version = "${{ github.event.inputs.version }}"' package.json > package.json.tmp && mv package.json.tmp package.json

      - name: Download OpenAPI Generator
        run: |
            wget https://repo1.maven.org/maven2/org/openapitools/openapi-generator-cli/7.11.0/openapi-generator-cli-7.11.0.jar -O openapi-generator-cli.jar
  
      - name: Build V3 SDK
        id: buildV3
        if: steps.updatePackageJsonVersion.outcome == 'success'
        run: |
          rm -rf ./sdk-output/v3
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v3.yaml -g typescript-axios -o sdk-output/v3 --global-property skipFormModel=false --config sdk-resources/v3-config.yaml

      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          rm -rf ./sdk-output/beta
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.beta.yaml -g typescript-axios -o sdk-output/beta --global-property skipFormModel=false --config sdk-resources/beta-config.yaml --api-name-suffix BetaApi --model-name-suffix Beta

      - name: Build V2024 SDK
        id: buildV2024
        if: steps.buildBeta.outcome == 'success'
        run: |
          rm -rf ./sdk-output/v2024
          node sdk-resources/prescript.js api-specs/idn/v2024/paths
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v2024.yaml -g typescript-axios -o sdk-output/v2024 --global-property skipFormModel=false --config sdk-resources/v2024-config.yaml --api-name-suffix V2024Api --model-name-suffix V2024
      
      - name: Build V2025 SDK
        id: buildV2025
        if: steps.buildV2024.outcome == 'success'
        run: |
          rm -rf ./sdk-output/v2025
          node sdk-resources/prescript.js api-specs/idn/v2025/paths
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v2025.yaml -g typescript-axios -o sdk-output/v2025 --global-property skipFormModel=false --config sdk-resources/v2025-config.yaml --api-name-suffix V2025Api --model-name-suffix V2025
        
      - name: Build V2026 SDK
        id: buildV2026
        if: steps.buildV2025.outcome == 'success'
        run: |
          rm -rf ./sdk-output/v2026
          node sdk-resources/prescript.js api-specs/idn/v2026/paths
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v2026.yaml -g typescript-axios -o sdk-output/v2026 --global-property skipFormModel=false --config sdk-resources/v2026-config.yaml --api-name-suffix V2026Api --model-name-suffix V2026

      - name: After SDK Build
        id: buildSDK
        if: steps.buildV2026.outcome == 'success'
        run: |
          cd sdk-output
          npm install
          npm run build

      - name: Commit changes and create new version tag
        if: steps.buildSDK.outcome == 'success'
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Bump version to v${{ github.event.inputs.version }}
          tagging_message: v${{ github.event.inputs.version }}
          commit_user_name: developer-relations-sp
          commit_user_email: devrel-service@sailpoint.com

      - name: Create Draft Release
        id: createRelease
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.event.inputs.version }}
          name: v${{ github.event.inputs.version }}
          draft: false
          prerelease: false
